header {
  display: block;
  height: 40px;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 24px;
  border-bottom: 4px solid #ffa500;
  background-color: rgba(33,33,33,0.5);
  color: #fff;
}
.App {
  display: flex;
  height: 100%;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.components-holder {
  display: block;
  margin-top: 2%;
  border: solid 1px #ddd;
  border-radius: 3px;
  background: #f4f4f4;
}
